$modal-color-dark-o35: rgba(0, 0, 0, .35);
$modal-color-white: #ebebef;
$modal-color-white-d: #e3e4e8;
$modal-color-gray: #9ea2b3;
$modal-color-gray-l: #e0e0e6;
$modal-color-gray-d: #8d91a5;
$modal-color-blue: #425ff0;
$modal-color-blue-l: #5a73f2;
