@import "../../../styles/colors";
@import "../../../styles/mixins";
@import "../../../styles/material-symbols";

.app {
  $sidebar-width: 320px;

  min-height: 100vh;

  &__sidebar {
    position: fixed;
    z-index: 10000;
    transition: margin-left 0.25s;

    & .sidebar__toggle {
      background-color: $color-dark-l;
      border-color: transparent;
      color: $color-gray-m;
      position: absolute;
      top: 30px;
      right: 30px;

      &:hover {
        background-color: $color-gray-mx;
        color: $color-white-m;
      }

      &:active {
        background-color: $color-action;
        color: $color-white;
      }
    }

    & .sidebar__content {
      background-color: $color-dark-s;
      display: flex;
      flex-direction: column;
      width: $sidebar-width;
      min-height: 100vh;

      & .sidebar__header {
        display: flex;
        align-items: center;
        padding: 30px;
        gap: 15px;

        & .header-icon {
          background-color: $color-action;
          border-radius: 5px;
          padding: 5px;
          font-size: 40px;
        }

        & .header__title {
          font-size: 18px;
          font-weight: 700;
          text-transform: uppercase;
        }
      }

      & .sidebar__body {
        flex-grow: 1;
        padding: 30px 0;

        & .project-list {
          padding: 0 15px;
        }

        & .body-container {
          margin-top: 60px;

          & .body-container__header {
            border-bottom: 1px solid $color-gray-mx;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 40px;
            margin-bottom: 15px;

            & .header__title {
              font-size: 18px;
              text-transform: uppercase;
            }
          }
        }
      }

      & .sidebar__footer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;

        & .footer__copyright {
          color: $color-gray-m;
          font-size: 13px;

          & a:hover {
            color: $color-white;
          }
        }
      }
    }
  }

  &__content {
    margin-left: $sidebar-width;
    transition: margin-left 0.25s;

    & .content-wrapper {
      width: 100%;
      max-width: 800px;
      padding: 60px 0;
      margin: 0 auto;
    }

    & .project__header {
      border-bottom: 1px solid $color-gray-mx;
      display: flex;
      align-items: center;
      height: 80px;
      padding: 0 30px;

      & .project__icon {
        color: $color-white;
        font-size: 28px;
      }

      & .project__title {
        @include text-overflow;
        color: $color-white;
        font-size: 24px;
        margin-left: 15px;
        margin-right: 30px;
      }

      & .project__controls {
        display: flex;
        align-items: center;
        margin-left: auto;
        gap: 15px;
      }
    }

    & .todo__list {
      margin-top: 30px;

      & li + li {
        margin-top: 15px;
      }
    }

    @media screen and (max-width: 1120px) {
      margin-left: 0;
    }
  }

  &.sidebar-hide .app__sidebar {
    margin-left: -$sidebar-width;

    & .sidebar__toggle {
      right: -60px;
    }
  }

  &.sidebar-hide .app__content {
    margin-left: 0;
  }
}

.btn {
  border: 1px solid $color-gray-m;
  border-radius: 5px;
  color: $color-gray-m;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.25s, border 0.25s, color 0.25s, right 0.25s;

  &:hover {
    background-color: $color-gray-mx;
    border-color: $color-gray-mx;
    color: $color-white-m;
  }

  &:active {
    background-color: $color-action;
    border-color: $color-action;
    color: $color-white;
  }

  &.btn_primary {
    border-color: transparent;

    &:hover {
      background-color: transparent;
      color: $color-gray;
    }

    &:active {
      background-color: transparent;
      color: $color-white;
    }
  }

  &.btn_remember {
    background-color: $color-remember;
    border-color: $color-remember-l;
    color: $color-remember-l;

    &:hover,
    &:active {
      color: $color-white;
    }

    &:active {
      background-color: $color-remember-l;
    }
  }

  &.btn_important {
    background-color: $color-important;
    border-color: $color-important-l;
    color: $color-important-l;

    &:hover,
    &:active {
      color: $color-white;
    }

    &:active {
      background-color: $color-important-l;
    }
  }

  &.btn_critical {
    background-color: $color-critical;
    border-color: $color-critical-l;
    color: $color-critical-l;

    &:hover,
    &:active {
      color: $color-white;
    }

    &:active {
      background-color: $color-critical-l;
    }
  }

  &.btn_active {
    background-color: $color-action;
    border-color: $color-action;
    color: $color-white;

    &.btn_primary {
      background-color: transparent;
      border-color: transparent;
      color: $color-white;
    }

    &.btn_remember {
      background-color: $color-remember-l;
      border-color: $color-remember-l;
      color: $color-white;
    }

    &.btn_important {
      background-color: $color-important-l;
      border-color: $color-important-l;
      color: $color-white;
    }

    &.btn_critical {
      background-color: $color-critical-l;
      border-color: $color-critical-l;
      color: $color-white;
    }
  }

  & .btn-icon
  & .material-symbols-rounded {
    font-size: 20px;
  }

  &:disabled,
  &.btn_disabled {
    pointer-events: none;
  }
}
