$color-dark:        #121317;
$color-dark-s:      #17181c;
$color-dark-l:      #1e1f25;
$color-dark-m:      #0e0e11;
$color-white:       #ffffff;
$color-white-m:     #c7c9d1;
$color-important:   #363012;
$color-important-l: #8f7d24;
$color-critical:    #361212;
$color-critical-l:  #8e2424;
$color-remember:    #123636;
$color-remember-l:  #248e8e;
$color-action:      #304fe8;
$color-gray:        #74788b;
$color-gray-m:      #464853;
$color-gray-mx:     #2c2f3a;
$color-overlay:     rgba($color-dark-m, .9);