@import './fonts';
@import './material-symbols';
@import './colors';
@import './mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.06em;
}

*:focus-visible {
  outline: 1px solid $color-gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
}

button {
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
}

span {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

body {
  background-color: $color-dark;
  color: $color-white;
  min-height: 100vh;
}