@import "../../../styles/colors";
@import "../../../styles/mixins";
@import "../../../styles/material-symbols";

.form {
  & .input-block {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &.input-block-line {
      flex-direction: row;
      align-items:  center;
      justify-content: space-between;
    }
  }

  & .radio-block {
    display: flex;
    gap: 15px;
  }

  & .input-block + .input-block {
    margin-top: 30px;
  }

  & .input__label {
    color: $color-white-m;
    font-size: 16px;
    font-weight: 500;
  }

  & .input {
    background-color: $color-dark;
    outline: 1px solid $color-gray-mx;
    border-radius: 5px;
    color: $color-white;
    min-height: 50px;
    padding: 15px;
    font-weight: 500;
    transition: outline .25s;

    &:hover {
      outline-color: $color-gray;
    }

    &[textarea] {
      min-height: 90px;
    }

    &::placeholder {
      color: $color-gray-m;
      font-weight: 400;
    }

    &:focus-visible {
      outline: 1px solid $color-gray;
    }
  }

  & .input-radio {
    display: none;

    &:checked + label[class~=btn] {
      pointer-events: none;
      background-color: $color-action;
      border-color: $color-action;
      color: $color-white;
    }

    &:checked + label[class~=btn_remember] {
      background-color: $color-remember-l;
      border-color: $color-remember-l;
    }

    &:checked + label[class~=btn_important] {
      background-color: $color-important-l;
      border-color: $color-important-l;
    }

    &:checked + label[class~=btn_critical] {
      background-color: $color-critical-l;
      border-color: $color-critical-l;
    }
  }

  & textarea[class~=input] {
    min-height: 90px;
  }
}