$color-dark: #1c1d22;
$color-dark-m: #30323b;
$color-dark-l: #474a57;
$color-gray: #5e6173;
$color-gray-m: #9295a5;
$color-gray-l: #b0b3bf;
$color-white: #ffffff;
$color-white-d: #f7f7f8;
$color-white-b: #e6e7ea;
$color-blue: #4d62cb;
