$color-white: #ffffff;
$color-white-m: #c7c9d1;
$color-black: #101114;
$color-black-o2: rgba(16, 17, 20, .2);
$color-black-l: #151519;
$color-black-lm: #191a1f;
$color-black-lm-o5: rgba(25, 26, 31, .5);
$color-black-lb: #1e1f24;
$color-orange: #ec8013;
$color-image-blackout: linear-gradient(0deg, $color-black-o2, $color-black-o2);