@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

*:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
}

i,
a,
svg,
img,
span {
  display: inline-block;
}

fieldset {
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
}

button {
  font-weight: 500;
}

@import './colors';
@import './typo';
@import './mixins';

@import '../components/app/scss/app.scss';
@import '../components/menu/scss/menu.scss';
@import '../components/game/scss/game.scss';
@import '../components/modal/scss/modal.scss';
@import '../components/formApply/scss/formApply.scss';