$vinput-color-white: #ebebef;
$vinput-color-white-d: #e3e4e8;
$vinput-color-gray: #9ea2b3;
$vinput-color-gray-l: #e0e0e6;
$vinput-color-gray-m: #8d91a5;
$vinput-color-gray-d: #7b8098;
$vinput-color-blue: #425ff0;
$vinput-color-blue-l: #5a73f2;
$vinput-color-red: #db5757;
